In [1]:
l=[1,2,3,4]
t=(1,2,3,4)
s={1,1,2,2,3,3,4,4}
d={'a':1,'b':2,'c':3,'d':4}
print(l,type(l))
print(t,type(t))
print(s,type(s))
print(d,type(d))

[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'a': 1, 'b': 2, 'c': 3, 'd': 4} <class 'dict'>

In [2]:
print(l[0],t[-1],2 in s,d['c'])

1 4 True 3

In [3]:
l[-3:-1]

[2, 3]

In [4]:
t[::2]

(1, 3)

In [5]:
d['c']=100
print(d)

{'a': 1, 'b': 2, 'c': 100, 'd': 4}

In [6]:
for x in d:
    print(x,d[x])

a 1
b 2
c 100
d 4

In [7]:
for x,y in d.items():
    print(x,'--->',y)

a ---> 1
b ---> 2
c ---> 100
d ---> 4

In [8]:
for x in d.values():
    print(x)

1
2
100
4

In [9]:
for x in d.keys():
    print(x)

a
b
c
d

In [10]:
sq=[x**2 for x in l]
sq

[1, 4, 9, 16]