In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
A=pd.Series([2,3,4,5],index=['a','b','c','d'])

In [4]:
A.values

array([2, 3, 4, 5], dtype=int64)

In [5]:
type(A.values)

numpy.ndarray

In [6]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
A['a':'c']

a    2
b    3
c    4
dtype: int64

In [8]:
old_price={'apple':200,'orange':150,'grape':500}
new_price={'apple':1000,'orange':500,'grape':500}
old_price,new_price

({'apple': 200, 'orange': 150, 'grape': 500},
 {'apple': 1000, 'orange': 500, 'grape': 500})

In [9]:
pd.Series(old_price)

apple     200
orange    150
grape     500
dtype: int64

In [10]:
df=pd.DataFrame({'old_price':old_price,'new_price':new_price})
df

        old_price  new_price
apple         200       1000
orange        150        500
grape         500        500

In [11]:
df.T

           apple  orange  grape
old_price    200     150    500
new_price   1000     500    500

In [12]:
df.values

array([[ 200, 1000],
       [ 150,  500],
       [ 500,  500]], dtype=int64)

In [13]:
df.values[1,0]

150

In [14]:
df.columns

Index(['old_price', 'new_price'], dtype='object')

In [15]:
df['difference']=abs(df['old_price']-df['new_price'])
df

        old_price  new_price  difference
apple         200       1000         800
orange        150        500         350
grape         500        500           0

In [16]:
df[df['old_price']>200]

       old_price  new_price  difference
grape        500        500           0

In [17]:
name={'A':'Alan','B':'John','C':'Cindy','D':'Stacy','E':'Diana'}
vaccinated={'A':True,'B':False,'C':False,'D':True,'E':False}
df=pd.DataFrame({'Names':name,'Vaccined':vaccinated})
df

   Names  Vaccined
A   Alan      True
B   John     False
C  Cindy     False
D  Stacy      True
E  Diana     False

In [18]:
m=df[df.Vaccined==True]
m

   Names  Vaccined
A   Alan      True
D  Stacy      True